.caja {
  width: 600px;
  height: 150px;
  background-color: blue;
  margin: 5px;
}

h3 {
    color: yellow;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

p {
  color: white;
 }

#caja2 {
   display: none;
   background-color: green;
  }

